.project-container {
  overflow: hidden;
  position: relative;
}

.project-container img {
  width: 100%;
}

.project-container .img-backdrop {
  background: linear-gradient(135deg, rgba(38, 163, 255, 0.85), rgba(83, 201, 179, 0.85));
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
}

.project-container:hover > .img-backdrop {
  opacity: 1;
}

.project-container .description-container {
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
  padding: 0 30px;
  text-align: center;
  line-height: 20px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  z-index: 2;
  opacity: 0;
  transition: all .2s ease;
}

.project-container:hover .description-container {
  opacity: 1;
}

.project-container .description-container .caption {
  display: block;
  margin-bottom: 10px;
}
